{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ the_title.capitalize() }}
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div class="container" id="state">
    <div class="row justify-content-center">
        <div id="content">
            <h1 class="text-center">{{ s['state'] }}</h1>
            
            <p class="lead"><strong>Total itemized contributions in the 2018 elections:</strong> {{ s[' total_itemized_contributions']}} </p>
            <p class="lead">Itemized contributions includes PAC contributions to candidates, individual donations over $200 to candidates and parties, and Levin fund contributions to parties in the state.</p>
            <p class="lead"><strong>Contributions ranking:</strong> #{{ s[' total_contributions_rank']}} out of 50</p>
            <p class="lead"> The contributions ranking lets you see how {{ s['state']}} compares to other states. A lower ranking implies more money was spent. </p>
            <p class="lead"><strong>Top five donating professions/industries:</strong></p>
                <ol class="lead">
                    <li>{{ s[' top_industry']}}</li>
                    <li>{{ s[' second_industry']}}</li>
                    <li>{{ s[' third_industry']}}</li>
                    <li>{{ s[' fourth_industry']}}</li>
                    <li>{{ s[' fifth_industry']}}</li>
                </ol>
                
            <p class="lead"><strong>Representatives in {{ s['state'] }}:</p></strong>

            {% for member in members %}
            <ul class="lead">
                <li><a href="{{ url_for('detail', num=member['id']) }}">{{member['name']}}</a></li>
            </ul>
            {% endfor %}
            <p class="lead"><a href="{{ url_for('index') }}">Click here</a> to select a different state.</p>
        </div>
    </div>
</div>

<footer>
    <p class="text-center">This project was created by Madison Hindo. View it it on <a href="https://github.com/madisonhindo/congress-flask-app">GitHub.</a></p>
</footer>

{% endblock %}
